.square {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: white;
  border: 1px solid black;
}
.text {
  display: grid;
  place-items: center;
  font-size: 25px;
  font-weight: bold;
}
.tiles {
  display: grid;
  place-items: center;
  gap: 5px;
}
.row {
  display: flex; 
  flex-flow: row nowrap;
  gap: 5px;
}
#VirtualKey {
  display: grid;
  place-items: end center;
  gap: 5px;
  margin-top: 20px;
}
input {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.key {
  width: 50px;
  height: 60px;
}
.big-key {
  width: 80px;
  height: 60px;
}